.font-weight{
    /* font-family: 'TT Interphases Pro'; */
    font-weight: 500;
    font-size: 18px;
    
}
.navbar-toggler-icon {
    width: 20px; /* Apni requirement ke hisaab se adjust karein */
    height: 20px; /* Apni requirement ke hisaab se adjust karein */
    /* align-self: center; */
    margin-right: 5px;
    /* margin-top: 10px; */
    padding: 5px;
  }
  .navbar-toggler {
    width: 30px; /* Apni requirement ke hisaab se adjust karein */
    height: 30px;
    border: none;
     /* Apni requirement ke hisaab se adjust karein */
     /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  