.spanHeading{
    font-size: 18px;
    color:  rgba(179, 50, 212, 1);
    /* margin-bottom: 500px; */
    font-weight: 600;
}
.bigHeading{
    font-weight: 800;
    font-size: 102px;
    line-height: 104px;
    width: 85%;

}
.description{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    width: 45%;
    /* margin-right: 0px; */
}
.img{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1279px) {
   
    .bigHeading {
        font-size: 96px;
        line-height: 97px;
    }
    .img{
        width: 45px;
        height: 45px;
    }
    
    
    .description{
        font-weight: 600;
        font-size: 27px;
        line-height: 32px;
        /* width: 41%;
        margin-left:300px; */
    }
}
@media only screen and (max-width: 1113px) {
   
    .bigHeading {
        font-weight: 800;
        font-size: 88px;
        line-height: 85px;
        /* width: 84%; */
    
    }
    .img{
        width: 40px;
        height: 40px;
    }
    .description{
        font-size: 26px;
    line-height: 31px;
    }
}
@media only screen and (max-width: 1013px) {
   
    .bigHeading {
        font-weight: 800;
        font-size: 80px;
        line-height: 75px;
        /* width: 91%; */
    
    }
    .img{
        width: 35px;
        height: 35px;
    }
    .description{
        font-weight: 600;
        font-size: 21px;
        line-height: 27px;
        /* width: 41%; */
       
    }
}

@media only screen and (max-width: 920px) {
   
    .bigHeading {
        font-size: 67px;
        line-height: 65px;
    
    }
    .img{
        width: 30px;
        height: 30px;
    }
    .description{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        /* width: 41%; */
       
    }
}

@media only screen and (max-width: 786px) {
   
    .bigHeading {
       font-size: 56px;
    line-height: 55px;
    
    }
    .img{
        width: 20px;
        height: 20px;
    }
    .margin{
margin-top: -50px;
    }
    .description{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* width: 41%; */
       
    }
    .spanHeading{
        font-size: 10px;
       
    }
}
@media only screen and (max-width: 672px) {
   
    .bigHeading {
        font-size: 48px;
    line-height: 45px;
    
    }
    .description{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* width: 41%; */
       
    }
}
@media only screen and (max-width: 590px) {
   
    .bigHeading {
        font-size: 42px;
        line-height: 40px;
    
    }
    .description{
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        /* width: 41%; */
       
    }
}
@media only screen and (max-width: 528px) {
   
    .bigHeading {
        font-size: 31px;
    line-height: 29px;
    width: 75%;
    
    }
    .description{
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        /* width: 41%; */
       
    }
}
@media only screen and (max-width: 457px) {
   
    .bigHeading {
        font-size: 29px;
        line-height: 27px;
        width: 76%;
    
    }
    .spanHeading{
        font-size: 6px;
       
    }
    .description{
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        /* width: 41%; */
       
    }
}
@media only screen and (max-width: 347px) {
   
    .bigHeading {
        font-size: 21px;
        line-height: 24px;
        width: 80%;
    
    }
    .description{
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        /* width: 41%; */
       
    }
}