.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
  padding: 1vw;
  transition: all 0.7s ease-out;
  /* background-color: yellow; */
}
.main:hover .mainDiv1 .heading1{
  color: #fff
  
}
.main:hover .mainDiv1 .seril{
  color: #fff
  
}
.main:hover  .praContainer1{
  color: #fff
  
}
.main:hover{
  /* transform: scale(1.05); */
  /* transition: transform 40s ease; */
  /* cursor:grab; */
  /* border: 1px solid ; */
  background-color: rgba(179, 50, 212, 1);
}
.mainDiv1 {
  width: 30vw;
  display: flex;
  flex-direction: row;
  /* padding-top: 46px; */
}
.seril {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:"TT Interphases Pro Trial DemiBold";
/* padding-left: 1vw; */
  font-size: 1.8vw;
  font-weight: 600;
}
.heading1 {
  margin-left: 4vw;
  width: 70%;
  font-size: 1.8vw;
  text-transform: capitalize;
  line-height: 110%;
  font-weight: 600;
  padding-top: 0.3vw;
  font-family:"TT Interphases Pro Trial DemiBold";

}
.praContainer1 {
  margin-left: 6.4vw;
  margin-top: 1vw;
  width: 33vw;
  color: gray;
  font-size: 1.3vw;
  line-height: 130%;
  font-weight: 200;
  font-family:"TT Interphases Pro Trial Regular";

}
