/* .seeBtn {
  width: 30vw;
  height: 6.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 40px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(
      15deg,
      #be66ea,
      #9f66ea,
      #551aa2,
      #8246a4b4,
      #5c2891,
      #764ba2,
      #eac7ffb4,
      #c769fdb4,
      #880088
    )
    no-repeat;
  background-size: 300%;
  color: #fff;
  font-size: 2vw;
  font-family: "TT Interphases Pro Trial Regular";
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.seeBtn:hover {
  background-size: 320%;
  background-position: right center;
} */
 .seeBtn {
  width: 30vw;
  height: 6.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 40px;
  /* border: 3px solid #B232D3; */
  background-size: 300%;
  font-size: 2vw;
  border: none;
  font-family: "TT Interphases Pro Trial DemiBold";
  /* box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease;
  /* background-color: white; */
  box-shadow:  0.5vw 0.5vw 0.4vw #c5c5c5, -1vw -1vw 2vw #ffffff;
  color: #B232D3;
}
.seeBtn:hover{
  /* background-color: #B332D4; */
  color: #B232D3;
  font-size: 2vw;
  /* font-family:"TT Interphases Pro Trial DemiBold"; */
box-shadow: inset 5px 4px 1vw #c5c5c5, inset -9px -8px 1vw #ffffff;


}
.main {
  margin-left: 5vw;
  margin-top: 6vw;
  margin-bottom: 5vw;
  padding-bottom: 5vw;
  padding-right: 0vw;
  width: 90vw;
  /* background-color: #9f66ea; */
  /* height: 40vw; */
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
