.mainContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vw;
  /* border: 1px solid green; */
  padding: 7vw;
  
  
}
.mainContainer_CU_CSS {
  display: flex;
  justify-content: right;
  /* background-color: yellow; */
  height: 48vw;
  /* margin-left: 12vw; */
  /* flex-direction: row; */
  /* margin-bottom: 5vw; */
  /* width: 90vw; */
  /* border: 1px solid green; */
  padding: 2vw 0vw 0vw 36vw;

  
}

.mainDiv {
  /* width: 93vw; */
  padding-top: 1vw;
  /* padding-left: 6.6vw; */
}

.inputDiv {
  /* width: 58vw; */
  height: 40vw;
  padding-top: 0vw;
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin-left: 2vw;
}

.inputRow {
  display: flex;
  justify-content: space-between;
}

.inputTxt {
  width: 25.3vw;
  height: 4vw;
  border: none;
  font-weight: 100;
  font-size: 1.2vw;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 4vw;
  margin-right: 2.5vw;
  font-family:"TT Interphases Pro Trial Regular";

  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.textarea{
    width: 53vw;
    height: 3vw;
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 3.1vw;
  margin-right: 6vw;
  font-size: 1.2vw;
  margin-top: 3vw;
  font-weight: 100;
  font-family:"TT Interphases Pro Trial Regular";

  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

}
.parag{
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 1.3vw;
  margin-left: 1vw;
  color: rgb(151, 151, 151);
  font-weight: 100;
  font-family:"TT Interphases Pro Trial Regular";

} 
.checkbox {
  width: 1.8vw;
  height: 1.8vw;
  margin-top: -1.2vw;
  /* background-color: aqua; */
}
.btn{
  margin-top: 3vw;
  width: 33vw;
  height: 6.5vw;
  border: 1px solid black;
  border-radius: 5vw 5vw 5vw 5vw ;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 2.7vw;
  font-weight: 700;
  background-color: white;
}
.btn:hover{
  background-color: rgb(249, 249, 249);
  transition: all 1s;

}

@media (max-width:768px){
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
  .inputDiv {
    width: 70vw;
   padding-top: 2vw;
    
  }
  .inputTxt {
    width: 31vw;
    font-size: 2vw;
  }
  .parag{
    font-size: 1.9vw;
    font-weight: 100;
  } 
  .checkbox {
    width: 3vw;
    height: 3vw;
  }
  .textarea{
    width: 66vw;
    height: 4vw;
  font-size: 2vw;

}
.mainDiv {
  width: 73vw;
}
.btn{
  margin-top: 0vw;
}

}


