.container{
    padding: 0;
    margin: 0;
}
.SubDiv{
    padding: 0;
    /* width: 95%; */
    margin-top: -1.5vw;    
    display:  flex;
    justify-content: center;
    margin-left: 10vw;
}
.img{
    width: 18%;
    height: 30%;
    object-fit: contain;
    padding-right: 2vw;
}