.img {
  width: 100%;
  height: 100%;
  margin-top: 3vw;
  border-radius: 10px;
  /* background-color: yellow; */
  /* object-fit: contain; */
}

.text {
  width:30vw;
  margin-top: 1vw;
  /* height: 80%; */
  /* margin: auto; */
  /* background-color: beige; */
  font-size: 1.2vw;
  line-height: 1.5vw;
  text-align: left;
  color: rgba(0, 0, 0, 0.6) ;
  font-family: "TT Interphases Pro Trial Medium";
}
.imgCountDiv {
  margin: 2vw;
  margin-left: 4.5vw;
}
