.mainDiv{
    display: flex;
    padding: 5vw;
}


.hr {
    height: 0vw;
    color: rgba(0, 0, 0, 1);
    border-top-width: 0.5vw;
    width: 95%;
    margin: auto;
}
.topheadDiv{
    /* padding-left: 2vw; */
}
.img{

    /* padding-left: 3vw; */
    /* padding-right: -5vw; */
    padding-top: 4vw;
    width: 100%;
    margin-left: -8vw;
    /* background-color: yellow; */
}
