.main{
    width: 95vw;
    display: flex;
    flex-direction: row;
    padding: 5vw;
}
.leftDive{
    width: 55%;
}
.headingDiv{
}
.RightDiv{
    width: 55%;
    margin-left: 5vw;
    margin-top: 2vw;

}

.seeBtn{
    padding: 0.5vw;
    font-size: 2.5vw;
    /* font-weight: 800; */
    border: 1px solid black;
    width: 35vw;
    height: 6.3vw;
    text-align: center;
    border-radius: 3vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
    /* margin-left: 55px; */
    /* background-color: blue; */
    background-color: white;
    font-family:"TT Interphases Pro Trial Bold"

    /* border: none; */
}
.seeBtn:hover{
    background-color: rgb(251, 251, 251);

}