.main{
    width: 95vw;
    display: flex;
    flex-direction: row;
    padding: 5vw;
}
.leftDive{
    width: 55%;
}
.headingDiv{
}
.RightDiv{
    width: 55%;
    margin-left: 5vw;
    margin-top: 2vw;
}
.seeBtn{
    padding: 0.5vw;
    font-size: 2.5vw;
    /* font-weight: 800; */
    border: 0.2vw solid #B232D3;
    width: 35vw;
    height: 6.3vw;
    text-align: center;
    border-radius: 3vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
    /* margin-left: 55px; */
    /* background-color: blue; */
    background-color: white;
    color: black;
    font-family:"TT Interphases Pro Trial Bold";
    /* border: none; */
    color: #B232D3;
transition: all 0.3s ease-in-out;
box-shadow:  0.5vw 0.7vw 0.5vw #c5c5c5, -1vw -1vw 2vw #ffffff;
}
.seeBtn:hover{
    background-color: #B232D3;
color: white;

}

