/* ImageSlider.module.css */
.slider {
    width: 80%;
    /* height: 5vw; */
    margin: auto;
    /* background-color: yellow; */
  }
  
  .slide  {
    width: 100%;
    height: 100%;
    /* margin-right: -20px; */
    padding: 3vw;
    /* background-color: blue; */
  }
  .image{
    width: 100%;
    height: 90%;
  }
  