.SPD_MainDiv {
  /* margin-top: 6vw;
  margin-left: 7vw; */
  padding: 5vw;
}

.TopSubDiv1 {
  font-size: 3.7vw;
  font-family:"TT Interphases Pro Trial ExtraBold";
  line-height: 5vw;
  text-transform: capitalize;
  width: 60%;
  padding-left: 3vw;
}
.WC_TopSubDiv1 {
  font-size: 4vw;
  font-family:"TT Interphases Pro Trial ExtraBold";
  line-height: 4.3vw;
  text-transform: capitalize;
  width: 90%;
  padding-left: 3vw;
  /* background-color: aquamarine; */
}
.TopSubDiv{
  font-size: 3.7vw;
  font-family:"TT Interphases Pro Trial ExtraBold";
  text-transform: capitalize;
  width: 69%;
}
.TopSubDiv2 {
  margin-top: 2.5vw;
  font-size: 1.9vw;
  line-height: 2.4vw;
  font-family: "TT Interphases Pro Trial Medium";
  font-weight: 500;
  width: 85vw;
  padding-left: 3vw;
}
.MidDiv {
  display: flex;
  flex-direction: row;
  margin-top: 4vw;
}
.SubMidDiv1 {
  font-size: 1.8vw;
  font-family: "TT Interphases Pro Trial Medium";
  width: 43vw;
  /* height: 20vw; */
  padding-left: 4vw;
  text-transform: capitalize;
  margin-bottom: 3.5vw;
}
.SubMidDiv1 ul li {
  margin-left: -2vw;
  margin-top: 1.6vw;
  text-indent: 1vw;
  /* padding-left: 3vw; */
  
  width: 38vw;
  cursor: pointer;
}
.SubMidDiv1 ul {
  margin-top: -1vw;
  /* margin: 0; */
}
.SubMidDiv1 ul:hover {
  color:blueviolet;
}
.SubMidDiv1 ul li::marker {
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}
.SubMidDiv2 {
  font-size: 1.3vw;
  font-family: "TT Interphases Pro Trial Regular";
  width: 40vw;
  padding-top: 2vw;
  line-height: 1.4;
  font-weight: 100;
  color: rgb(107, 107, 107);

}
.FoterDiv {
  display: flex;
  flex-direction: row;
}
.SubFoterDiv1_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.SubFoterDiv1 {
  width: 39.6vw;
  height: 44vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.SubFoterDiv2 {
  width: 39.6vw;
  height: 44vw;
  /* margin-top: 1vw; */
  margin-bottom: 3vw;
  margin-left: 5vw;
  padding-top: 4vw;
}
.SubFoterLink ul {
  margin-top: 0vw;

}
.SubFoterLink ul li {
  margin-left: -2vw;
  margin-top: 1vw;
  text-indent: 1vw;
  width: 43vw;
  font-size: 1.8vw;
  font-family: "TT Interphases Pro Trial DemiBold";

  width: 43vw;
  text-transform: capitalize;
}

.SubFoterLink ul a {
  text-decoration: none;
  color: black;
}

.SubFoterLink ul li::marker {
  font-size: 1.2vw;
}
.paraDiv {
  width: 39vw;
  letter-spacing: 0.05vw;
  font-family: "TT Interphases Pro Trial Regular";
  margin-top: 2vw;
  font-size: 1.3vw;
  color: rgb(105, 105, 105);
  line-height: 1.5;
}
