.mainDiv{
    /* margin: 0;
    padding: 0; */
    width: 90vw;
    height: 40vw;
    margin-left: 5vw;
    margin-top: 5vw;
    /* display: flex;
    flex-direction: row; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    margin-bottom: 6vw;
}
.SubDiv1{
    height: 50%;
    display: flex;
    flex-direction: row;
  animation: 5s SubDiv1 ease-out;


}
.SubDiv2{
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5vw;
  animation: 5s SubDiv2 ease-out;

}

.box1{
    width: 50%;
    /* height: 100%; */
    margin-right: 0.8vw;

}
@keyframes SubDiv1  {
    0% {
      opacity: 0;
      transform: translateX(-280%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes SubDiv2  {
    0% {
      opacity: 0;
      transform: translateX(280%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.box2{
    width: 25%;
    /* height: 100%; */
    margin-right: 0.8vw;


}
@keyframes box2  {
    0% {
      opacity: 0;
      transform: translateY(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.box3{
    width: 25%;
    /* height: 100%; */
    margin-right: 0.8vw;
}
.box4{
    width: 24.3%;
    /* height: 100%; */
    margin-right: 0.8vw;
}
.box5{
    width: 50%;
    /* height: 100%; */
    margin-right: 0.8vw;
}
.box6{
    width: 25%;
    /* height: 100%; */
    margin-right: 0.8vw;
}

.img{
    width: 100%;  
    height: auto;   
    border-radius: 1.5vw;
    object-fit: contain;
}
