.main{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.imgTv{
    width: 80%;
    height: 80%;
    margin-left: 10vw;
    
    margin-top: -100px;
    }
    .video1{
        width: 85vw;
        height: 43vw;
        /* margin: auto; */
        margin-left: 7vw;
        /* margin-right: auto; */
        border-radius: 3vw !important;
        background-color: yellow;
        object-fit:fill;
    }