.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 85%;
    height: 50%; */
  /* margin-left: 6vw; */
  margin-top: 4.5vw;
  margin-bottom: 3vw;
}
.PakDiv {
  padding-top: 2.8vw;
  padding-left: 4.2vw;
  width: 46vw;
  height: 38vw;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-left: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}
.PakDiv1 {
  position: absolute;
  padding-top: 2.8vw;
  padding-left: 4.2vw;
  width: 46vw;
  height: 38vw;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-left: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  box-sizing: border-box;
  bottom: 0%;
  left: 0%;
  display: none;
  transition: all 0.2s;
  background-color: #a92bcc;
}
.headingDiv {
  width: 35vw;
  height: 15vw;
  display: flex;
  /* color: aqua; */
  color: black;
}
.mainContainer {
  position: relative;
  overflow: hidden;
  width: 46vw;
  height: 38vw;
  border: 1px solid rgb(231, 231, 231);
  /* background-color: aqua  ; */
}
.PakDiv {
  overflow: hidden;
  width: 46vw;
  height: 38vw;
  border: 1px solid rgb(231, 231, 231);
  /* background-color: aqua  ; */
}
.Pakimg {
  width: 80%;
  height: 45%;
  object-fit: contain;
  margin-top: 2.4vw;
  /* position: relative; */
  transition: all 1sec ease-in-out;
}
.PakimgColor {
  /* width: 80%; */
  /* height: 36%;
  object-fit: contain; */
  /* position: absolute; */
  /* right:  25vw; */
  /* top: 1px; */
  /* margin-top: 15vw;
  margin-left: 4vw; */
  /* background-color: yellow; */
  display: none;
  width: 80%;
  height: 43%;
  margin-top: 2.4vw;
  object-fit: contain;
  transition: all 1sec ease-in-out;
}
.PakDiv:hover .Pakimg {
  display: none;
}
.PakDiv:hover .PakimgColor {
  display: flex;
  transform: scale(1.1);
  transition: transform 2sec ease-in-out;
}
.USADiv {
  padding-top: 2.8vw;
  padding-left: 4.2vw;
  width: 46vw;
  height: 38vw;
  border: 1px solid rgb(231, 231, 231);
}

/* .Pakimg1 {
  width: 100%;
  height: 50%;
  margin-left: -3vw;
  margin-top: -1vw;
  background-color: yellow;
} */
.USAimg {
  width: 80%;
  height: 45%;
  transition: all 1sec ease-in-out;
  object-fit: contain;
  margin-top: -0.5vw;
}
.USAimgColor {
  width: 80%;
  height: 45%;
  transition: all 1sec ease-in-out;
  object-fit: contain;
  margin-top: -0.5vw;
  display: none;
}
.USADiv:hover .USAimg {
  display: none;
}
.USADiv:hover .USAimgColor {
  display: flex;
  transform: scale(1.22);
  transition: transform 2sec ease-in-out;
}
.imgDiv {
  margin-top: 20px;
  width: 5vw;
  height: 5vw;

  margin-left: -2.5vw;
  margin-right: 11vw;
  margin-top: 4vw;
}
.PakFlag {
  object-fit: contain;
  width: 5vw;
  height: 5vw;
}
.PakFlag1 {
  object-fit: contain;
  width: 5vw;
  height: 5vw;
  margin-top: 0.2vw;
}
.USAFlag {
  object-fit: contain;
  width: 5vw;
  height: 5vw;
  margin-left: -8vw;
  margin-top: -0.5vw;
}
/* ------>>>>> */

.USADiv1 {
  position: absolute;
  padding-top: 2.8vw;
  width: 46vw;
  height: 38vw;
  border: 1px solid rgb(231, 231, 231);
  box-sizing: border-box;
  bottom: 0%;
  left: 0%;
  display: none;
  transition: all 0.2s;
  background-color: #a92bcc;
}
.mainContainer:hover .USADiv1 {
  display: block;
  bottom: 0%;
}

.USAimg1 {
  width: 100%;
  height: 50%;
  margin-top: -1vw;
}
.headingDiv1 {
  width: 35vw;
  height: 15vw;
  display: flex;
  margin-left: 4vw;
  /* color: aqua; */
}

.USAFlag1 {
  object-fit: contain;
  width: 5vw;
  height: 5vw;
  margin-left: -8vw;
  margin-top: -0.5vw;
  /* background-color: aqua; */
}
