.main{
    display: flex;
    padding: 3vw;
    padding-left: 5vw;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* background-color: aquamarine; */
}
.text{
    font-size: 1.8vw;
    line-height: 2.6vw;
    font-weight: 400;
    text-transform: capitalize;
    padding-right: 2vw;
    width: 53vw;
    font-family:"TT Interphases Pro Trial Medium";

    /* background-color: aquamarine; */
}
.subMain{
    /* background-color: rgb(21, 146, 146); */
    display: flex;
    margin-top: 4vw;
}
.pgDiv{
    /* padding: 5vw;
    padding-left: 0vw; */
    /* justify-content: space-between; */
    /* width: 70%; */
}
.nameDiv{
    /* background-color: yellow; */
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    /* height: 3vw; */

    
}
.img{
    width: 20%;
    height: 20%;
    object-fit: contain;
    /* background-color: yellow; */
    /* background-color: blue; */
}
.name{
    font-weight: 700;
    font-size: 1.4vw;
    /* background-color: blue; */
    margin-bottom: 0;
    font-family:"TT Interphases Pro Trial Bold";


}
.pg{
    font-weight: 500;
    font-size: 1.3vw ;
    /* background-color: blue; */
    /* margin-top: -1.5vw; */
    font-family:"TT Interphases Pro Trial Medium";

 
}
.btnImg{
    width: 3.5vw; 
    height: 3.5vw;
    /* margin-right: 0.5vw; */
    /* background-color: blue; */
}
.btn{
    /* width: 3vw; 
    height: 3vw; */
    /* margin-right: 0.5vw; */
    /* background-color: blue; */
    border: none;
    background-color: #fff;
    margin: 0.5vw;

}
.btnDiv{
    /* align-self: self-end; */
    margin-left: 40vw;
    margin-top: 2vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.hr {
    height: 0px;
    color: rgba(0, 0, 0, 1);
    border-top-width: 2px;
    width: 95%;
    margin: auto;
}
.slider {
    width: 100%;
    /* height: 5vw; */
    /* margin: auto; */
    /* display: flex; */
  }
 .talha{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-color: yellow; */
 }

@media (max-width: 576px) {
    .btnDiv{
     
        margin-left: 30vw;
        margin-top: -2vw;
    }
    
  }