.topHeadingDiv{
    margin-top: 8vw;
    margin-left: 5vw;
    width: 90vw;
    height: 25vw;

  }
  .mainImgDiv {
  display: flex;    
    margin-top: 3vw;
    flex-wrap: wrap;   
    justify-content: center;
    margin-bottom: 4vw;
    
  
  }
  .lable {
    width: 22vw;
    height: 11.2vw;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    outline: none;
    transition: 1s;
    cursor: pointer;
  }
  .lable:hover{
    box-shadow: inset 0px 0px 25px #b332d4;

  }
  
  .lableImg {
    width: 44%;
    height: 35%;
    object-fit: contain;
    margin-top: 0.9vw;
    filter: grayscale(1);

    
  }
  .lable:hover .lableImg{
    width: 80%;
    height: 40%;
    object-fit: contain;
    filter: grayscale(0);

  }
  .iconHeading{
    margin-top: 1vw;
    font-family: "TT Interphases Pro Trial DemiBold";
    font-weight: 500;
    font-size: 1.3vw;
  }