.headDiv {
  /* padding: 5vw; */
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  padding-left: 5vw;
  display: flex;
}
.weBuild {
  font-size: 1.3vw;
  color: rgba(179, 50, 212, 1);
  /* margin-bottom: 500px; */
  font-family: "TT Interphases Pro Trial Medium";
  /* margin-bottom: 30px; */
  width: 70%;
  line-height: 1.5vw;
}
.working {
  width: 80%;
  font-size: 1.7vw;
  line-height: 2.3vw;
  color: rgba(0, 0, 0, 0.5);
  /* font-weight: 600; */
  margin-top: 2.5vw;
  font-family: "TT Interphases Pro Trial Regular";
}
.headings {
  font-size: 5.1vw;
  /* font-weight: 700;; */
  /* line-height: 5vw; */
  /* padding: 2vw; */
  /* padding-top: 1.5vw; */
  color: rgba(0, 0, 0, 0.1);
  /* color: gray; */
  font-family: "TT Interphases Pro Trial ExtraBold";
  width: 50vw;
  /* height: 8vw;  */
  margin-top: 4vw;
  line-height: 4vw;
  transition: color 0.7s;
}
/* .img1 {
  display: none;
  transition: display 0.3s;
  border: 2px solid red;
} */
.mainContainer {
  width: 95vw;
  height: 45vw;
  display: flex;
  justify-content: space-between;
}
.leftDiv {
  width: 40vw;
  height: 35vw;
  margin-top: 2vw;
  /* position: relative; */
  transform: scaleY(1.2);
}
.rightDiv {
  width: 58vw;
  height: 40vw;
}
.headings:hover {
  color: black;
}
.main {
  width: 90%;
}
.imgDiv {
  /* background-color: rgb(89, 0, 255); */
  width: 40vw;
  height: 100%;
  /* background-color: blue; */
}
