.verticalMainDiv{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-left: 5vw;
    padding-right: 3vw;
}
.portfolioDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5vw;
    margin-top: 5vw;
    /* background-color: yellow; */
}