
.mainDiv {
  display: flex;
  /* background-color: aquamarine; */
  /* margin-top: 6vw;
  margin-left: 5vw; */
  flex-direction: column;
}
.Heading {
  font-family: "TT Interphases Pro Trial ExtraBold";
  font-weight: 800;
  line-height: 4.5vw;
  font-size: 4.3vw;
  color: black;
  width: 71vw;
}
.ParaDiv {
  font-family: "TT Interphases Pro Trial Regular";
  font-weight: 300;
  font-size: 1.4vw;
  color: black;
  width: 76vw;
  color: rgb(107, 107, 107);
  margin-top: 1.8vw;
  margin-bottom: 3vw;
}
/* ------>>>>>>> */
.main{
  display: flex;
  /* padding: 5vw; */
  padding-top: 2vw;

  /* background-color: blue; */
  justify-content: space-between;
  
}
.subMainDiv {
  width: 49%;
  /* margin-top: 2vw; */
  height: 37vw;

  /* background-color: aquamarine; */
  /* margin-left: 4vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap:wrap; */
}
.container {
  display: flex;
  width: 43vw;
  /* height: 3vw; */
  /* margin-bottom: 2vw; */
  padding-top: 2vw;
  padding-bottom: 2vw;
  /* background-color: antiquewhite; */
  border-top: 1px solid rgb(212, 212, 212);
  /* justify-content: space-between; */
  /* text-align: center; */

}
.subDiv {
  font-family: "TT Interphases Pro Trial DemiBold";
  font-size: 1.3vw;
  text-transform: capitalize;
  /* background-color: aqua; */
  width: 33vw;
  height: 2vw;
  /* background-color: aquamarine; */
}
.btn {
  
  border: none;
  background-color: rgb(255, 255, 255);
  margin-left: 7.8vw;
  object-fit: contain;
  width: 2vw;
  height: 2vw;
}
.btn_img {
  border-radius: 18px 18px 18px 18px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: contain;

}
.SubPara {
  font-family: "TT Interphases Pro Trial Regular";
  line-height: 1.4;
  font-weight: 200;
  font-size: 1.2vw;
  width: 42.5vw;
  /* height: 7vw; */
  /* padding-top: 1vw; */
  /* background-color: rgb(179, 136, 72); */
  color: #666666;
  padding-bottom: 1vw;
  /* border-bottom: 1px solid rgb(212, 212, 212); */


  /* border-bottom: 1px solid gray; */
}
@media (max-width: 1150px) {
  .btn{

  width: 2.5vw;
  height: 2vw;

  }
}
@media (max-width: 850px) {
  .btn{

  width: 2.5vw;
  height: 2.5vw;
  margin-top: -1vw;

  }
}
@media (max-width: 650px) {
  .btn {
    width: 3vw;
    height: 3vw;
    margin-top: -2vw;
  }
}
@media (max-width: 550px) {
  .btn {
    width: 4vw;
    height: 4vw;
  }
}
@media (max-width: 450px) {
  .btn {
    margin-top: -2vw;
    width: 4.5vw;
    height: 4.5vw;
  }
}