.main{
    padding: 5vw;
}


.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}


.seeBtn{
    padding: 0.5vw;
    font-size: 3vw;
    font-weight: 800;
    border: 1px solid black;
    width: 40vw;
    /* height: 5vw; */
    text-align: center;
    border-radius: 35px;
    /* margin-top: 15px; */
    /* margin-left: 55px; */
    /* background-color: blue; */
}
.bottom{
    display: flex;
    /* align-items: center;  */
    justify-content: space-between;
    /* background-color: red; */
    /* padding-right: 0vw ; */
    width: 100%;
}
